@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


/*기본공통서식-글자모양,색상,크기,링크*/
body{
 font-family: 'Nanum Gothic', sans-serif;

font-size: 13px;
color:#333333;
background-color: #ffffff;
}

/*웹폰트- 사용자컴퓨터에 글꼴이 없어도 인터넷상에서 연결하여 폰트를 적용하는방법*/

/*하이퍼링크 서식*/
a{
 color:#333333;
 text-decoration: none;
}

.toggle{display: none;}

#tog01{display: none;}

.close_btn{display: none;}