@charset "utf-8";

@media screen and (max-width:767px){
  header{
    width:100%;
  }
  .h_inner{
    width:100%;height:90px;
    margin:0 auto;
   position: relative;
  }
  
  .logo{padding-top:10px;
  width:70px; height: 70px;  }

  .user{
    position: absolute;
    top:20px; right:130px;
    padding: 4px 4px;
    width:40px;
    height:40px;
  }
  .find{
   position:absolute;
    top:20px; right:80px;
    padding: 4px 4px;
    width:40px;
    height:40px;
  }
  
  .toggle{display: block;
    position: absolute;
    top:20px; right:21px;
    padding: 4px 4px;
    width:40px;
    height:40px;}

    
.navi{
      width: 100%;
      height:100%;
      position:fixed;
      right:-100%;top:0px;
      background-color: #8F9FBF;
      transition: 0.3s;
      z-index: 1000;
     }
  
  
  .navi>ul{
  padding: 100px 3.5% 0px 3.5%;
  }
  .navi>ul>li{
    border-bottom: 1px solid #ccc;
    text-indent: 10px;
  }
  .navi>ul>li>a{
  color:#ffffff;
  line-height: 40px;
  }
  
  .close_btn{display: block;
    position: absolute;
    top:30px; right: 30px;}
  .close_btn img{
        width: 23px;
      }
  
  .sub{
   width:100%;
   position:absolute;
   display:none;
   height:180px;
   background-color:#8F9FBF;
  }
  .sub>li{}
  .sub>li>a{
  color:#ffffff;
  line-height: 40px;
  }
  
  #tog01:checked ~ .navi{right:0px;}

  
  
 .art01>article>h2{display: none;}
  .art01{width: 100%;
  height: 350px;
  margin:0px auto;
  overflow: hidden;
  }
  .img00{ width: 100%;
  height:350px;}
  
  .art02{width: 100%;
  height:165px;
    }
  .art02>article>h2{display: none;}

  .art02>article{position: relative;}  
  .res01{
    position: absolute;
    top : 20px; left: 2%;
    font-size: 13.5px;
    padding : 4px 0.5px;
   }
   .res02{
    position: absolute;
    top:20px; left:35%;
    font-size: 13.5px;
    padding : 4px 0.5px;
   }
   .res03{
    position: absolute;
    top:20px; right:2%;
    font-size: 13.5px;
    padding : 4px 0.5px;
   }

  .res04{
  position:absolute;
  top: 80px; left:30%; 
  padding:2px 60px; 
  font-size: 16px;
  background-color: rgb(224, 220, 220);
  
  
  }
  .art03{width: 100%;
   height: 230px;
   background-color: #D5E5F2;
        }
  
  .art03 > article{
     width: 100%;
     height:230px;
     margin: 0px auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.art03>article>h2{display: none;}
  
  .qic01{position: relative;
    top:10px;
    padding: 0px 5px;
    width: 95px;
    height:95px;
  }
  
  .sec04{width: 100%;
    height: 470px;
    }
    
   .sec04 > section{
      width: 100%;
      height: 440px;
      margin:0px auto;
      position: relative;
      font-size: 13px;
      line-height: 20px;
      font-weight: bold;
      }
    .sec04>section>h2{display: none;}
    .sec04> section>dl>dd{display: none;}
     .word{font-size: 16px;}

     .p01{width: 100%;
      background-color: #8F9FBF;
      color:#ffffff;
      text-align: center;
      line-height: 30px;
      font-size: 18px;}

      .p02{position:absolute;
        top: 45%; left:17%;}
        .p03{position: absolute;
        top:45%; right:28%;}
        .p04{position:absolute;
        top: 90%; left:17%;}
        .p05{position: absolute;
        top: 90%; right:30%;}

 .cite01, .cite02,.cite03,.cite04{width:160px; height:160px;}

     .cite01{position: absolute;
  top: 7%; left: 3%;
 }
   .cite02{position: absolute;
  top: 7%; left:52%;
  }
   .cite03{position: absolute;
  top:53%; left: 3%;
  }
   .cite04{position: absolute;
  top:53%; left:52%;
  }

 

  .art05{width:100%;
    height: 455px;
    
    }
    .art05>article {width:100%;
     height: 425px;
     background-color: lightseagreen;
     margin:0px auto;
    }

    .art05>article>h2{display: none;}
    
    .img02{ width:100%; height:425px;}
    
    .px01{width: 100%;
      background-color: #8F9FBF;
      color:#ffffff;
      text-align: center;
      line-height: 30px;
      font-size: 18px;
    }
    .top { position: fixed; right: 5px; bottom:60px;
      width: 30px; height: 30px;
    }


    .ft01{ width:100%;  
      height: 140px;
     background-color: #0D0D0D;
    }
    .ft01>nav {
      width:100%;
      height : 140px;
      margin:0px auto;
      position: relative;
    }
    .ft03,.ft04,.ft05,.txt00,.txt01{color: #b9b9b9;}
    .ft03{
      position: absolute;
      top:20px; left:15px;
        font-weight: bold;
      }
      .ft04{
        position: absolute;
        top:20px; right: 40%;
        font-weight: bold;
      }
      .ft05{
        position: absolute;
        top:20px; right: 35px;
        font-weight: bold;
      }
    .logo02{
    display: none;
    }
    .twitter{
    position:absolute;
    top:60px; right:180px;
    padding: 4px 4px;
    width:40px; height:40px;
    }
    .google{
    position:absolute;
    top:60px; right: 110px;
    padding: 4px 4px;
    width:40px; height:40px;
    }
    .facebook{
    position:absolute;
    top:60px;right:50px;
    padding: 4px 4px;
    width:40px; height:40px;
    }
    .txt00{position:absolute;
      top:114px;right: 50px;
      font-weight: bold;
    }
    .txt01{display: none;}













}